<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IntelligentSystems task | khAntans</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body class="bg-gray-300 flex w-screen justify-center h-screen text-center py-auto">
    <div class="grid h-min">
        <h2 class="row-start-1 font-extrabold text-4xl">
        {{ errorCode }}
        </h2>
        <h3 class="row-start-2 font-bold text-2xl">
        {{ errorText }}
        </h3>
        <a href="/" class="row-start-3 font-bold text-xl underline hover:text-gray-600">
            Homepage
        </a>

    </div>

</body>
</html>